In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import os

In [13]:
#Get the Excel files 
ex_dir = os.getcwd()

dir_tree = os.walk(ex_dir)
for dirpath, dirnames, filenames in dir_tree:
   pass

ex_list = []
for file in filenames:
   if file.endswith('.xlsx'):
      ex_list.append(file)

print(ex_dir)
print(ex_list)

C:\Users\J FernandezGomez\Jupyter Notebooks\Cleaning_Data_Notebooks\5_Traffic_Master
['Main 0005.xlsx', 'Main 1617.xlsx', 'Main 1618.xlsx', 'Main 1619.xlsx', 'Main 1718.xlsx', 'Main 1921 Summer.xlsx', 'Main 710.xlsx', 'Main 78.xlsx', 'Main 79.xlsx', 'Main 89.xlsx', 'Main 910.xlsx', 'main1215.xlsx']

In [32]:
i = 0
for file in ex_list:
    read_file = pd.read_excel (file)
    print("File read: " + file)
    read_file.to_csv (r'C:\Users\J FernandezGomez\Jupyter Notebooks\Cleaning_Data_Notebooks\5_Traffic_Master\trafficMastercsv' + str(i)+'.csv', index = None, header=True)
    i = i+1

File read: Main 0005.xlsx
File read: Main 1617.xlsx
File read: Main 1618.xlsx
File read: Main 1619.xlsx
File read: Main 1718.xlsx
File read: Main 1921 Summer.xlsx
File read: Main 710.xlsx
File read: Main 78.xlsx
File read: Main 79.xlsx
File read: Main 89.xlsx
File read: Main 910.xlsx
File read: main1215.xlsx

In [54]:
#*****CHANGE THE NAME OF THE IN AND OUT FILES****
#Load the first report to extract the headers
first_report = pd.read_csv("Main 0005.csv", encoding = 'raw_unicode_escape', low_memory = False)

In [55]:
first_report.head(10)

,LinkID,RNum,Start,End,Link length,Time (s),Stnd deviation,Vehicle count,Avg speed (mph)
0,4000000019182893A,B488,NaN,NaN,1425.39,55.49,10.61,156,57.46
1,4000000019182893B,B488,NaN,NaN,1425.39,56.82,13.5,72,56.12
2,4000000019182895A,B488,NaN,NaN,783.44,36.46,6.18,94,48.07
3,4000000019182895B,B488,NaN,NaN,783.44,37.52,8.04,50,46.71
4,4000000019182897A,A4146,NaN,NaN,931.75,40.35,5.15,232,51.66
5,4000000019182897B,A4146,NaN,NaN,931.75,42.56,4.91,54,48.97
6,4000000019182900A,A505,NaN,NaN,546.63,21.01,2.94,585,58.21
7,4000000019182900B,A505,NaN,NaN,546.63,20.86,2.84,281,58.63
8,4000000019182906A,A505,NaN,NaN,2861.53,117.5,28.24,681,54.48
9,4000000019182906B,A505,NaN,NaN,2861.53,114.65,17.48,391,55.83

In [56]:
csv_header_tup = ''
i = 0
for col in first_report.columns: 
    if i == 0:
        csv_header_tup = str(col)
        i=i+1
    else:
        csv_header_tup = csv_header_tup + "," + str(col)

In [57]:
csv_header_tup

'LinkID,RNum,Start,End,Link length,Time (s),Stnd deviation,Vehicle count,Avg speed (mph)'

In [58]:
csv_header= ''.join((csv_header_tup))

In [78]:
#csv_header_tup= 'Outstation', 'DateTime','Ground1','Ground2','Ground3','Ground4','Dew Temp','Air Temp','Deep','Deep2','Wind Speed','Condition1','Condition2','Condition3','Condition4','St1','St2','St3','St4','Rel Humidity','Precip','Rain','WDC','WDR','Wind Gust','Volts','Film','Salt Condn','Fault','Visibility'
#csv_header= ','.join((csv_header_tup))

In [59]:
csv_header

'LinkID,RNum,Start,End,Link length,Time (s),Stnd deviation,Vehicle count,Avg speed (mph)'

In [62]:
csv_out = 'trafficmaster_consolidated.csv'

csv_dir = os.getcwd()

dir_tree = os.walk(csv_dir)
for dirpath, dirnames, filenames in dir_tree:
   pass

csv_list = []
for file in filenames:
   if file.endswith('.csv'):
      csv_list.append(file)

print(csv_dir)

C:\Users\J FernandezGomez\Jupyter Notebooks\Cleaning_Data_Notebooks\5_Traffic_Master

In [63]:
print(csv_list)

['Main 0005.csv', 'Main 1617.csv', 'Main 1618.csv', 'Main 1619.csv', 'Main 1718.csv', 'Main 1921 Summer.csv', 'Main 710.csv', 'Main 78.csv', 'Main 79.csv', 'Main 89.csv', 'Main 910.csv', 'main1215.csv']

In [64]:
csv_merge = open(csv_out, 'w', encoding = 'raw_unicode_escape')
csv_merge.write(csv_header)
csv_merge.write('\n')

1

In [65]:
if csv_merge.closed:
  print("Forking file is closed now")
for file in csv_list:
   csv_in = open(file, encoding = 'raw_unicode_escape', errors = 'ignore')
   for line in csv_in:
      if line.startswith(csv_header):
         continue
      if csv_merge.closed:
         print("Forking file is closed")
      else:
         csv_merge.write(line)
   csv_in.close()
csv_merge.close()
print('Verify consolidated CSV file : ' + csv_out)

Verify consolidated CSV file : trafficmaster_consolidated.csv

In [71]:
#Load the consolidated dataframe and check its size to validate
df = pd.read_csv("trafficmaster_consolidated.csv", 
                 encoding = 'raw_unicode_escape', 
                 header = 0, 
                 usecols = ['LinkID','RNum','Start','End','Link length','Time (s)','Stnd deviation',
                            'Vehicle count','Avg speed (mph)'])
df.shape

C:\Users\J FernandezGomez\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(4465884, 9)

In [72]:
#Review a sample of the data to confirm
df.head(5)

,LinkID,RNum,Start,End,Link length,Time (s),Stnd deviation,Vehicle count,Avg speed (mph)
0,4000000019182893A,B488,NaN,NaN,1425.39,55.49,10.61,156,57.46
1,4000000019182893B,B488,NaN,NaN,1425.39,56.82,13.5,72,56.12
2,4000000019182895A,B488,NaN,NaN,783.44,36.46,6.18,94,48.07
3,4000000019182895B,B488,NaN,NaN,783.44,37.52,8.04,50,46.71
4,4000000019182897A,A4146,NaN,NaN,931.75,40.35,5.15,232,51.66

In [73]:
df.columns

Index(['LinkID', 'RNum', 'Start', 'End', 'Link length', 'Time (s)',
       'Stnd deviation', 'Vehicle count', 'Avg speed (mph)'],
      dtype='object')